{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
	{% for blog in blogs %}
		<article class="blog">
			<div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
			<header>
				<h2><a href="{{ path('blogger_blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a></h2>
			</header>

			<img src="{{ blog.image }}" class=" " alt="Чевой то нету картинки, ваабще"/>
			<div class="snippet">
				<p>{{ blog.blog(150) }}</p>
				<p class="continue"><a href="{{ path('blogger_blog_show', { 'id': blog.id }) }}">Продолжить чтение...</a></p>
			</div>

			<footer class="meta">
				<p>Коментарий: -</p>
				<p>выложил <span class="highlight">{{blog.author}}</span> at {{ blog.created|date('h:iA') }}</p>
				<p>Тэга: <span class="highlight">{{ blog.tags }}</span></p>
			</footer>
		</article>

		<footer class="meta">
			<p>Коментариев: {{ blog.comments|length }}</p>
			<p>Выложил ету запись <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }}</p>
			<p>Тэг: <span class="highlight">{{ blog.tags }}</span></p>
		</footer>
	{% else %}
		<p>Нету никаких записей</p>
	{% endfor %}

{% endblock %}